* {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  box-sizing: border-box; }

body {
  background-color: teal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem; }

.invisible {
  visibility: hidden; }

.visible {
  visibility: visible; }

.container {
  margin: auto;
  margin-left: 1.5rem; }

header {
  background-color: #222; }

#result {
  visibility: hidden; }

#main-title {
  padding: 2rem;
  text-align: center;
  color: #fff; }

.questions {
  margin-left: 1.5rem; }
  .questions h3 {
    font-size: 2rem; }
  .questions form label {
    font-size: 1.5rem;
    margin-left: 0.5rem; }

#submit {
  margin-left: 3rem; }
  #submit button {
    border: 1px solid aqua;
    border-radius: 5px;
    padding: 0.5rem 0.25rem;
    font-size: 1.2rem;
    margin: 0.5rem 0.25rem;
    cursor: pointer;
    background-color: #222;
    color: #fff; }
  #submit button:hover {
    background-color: lightblue;
    color: #000; }
